<!DOCTYPE html>
<html>
    <head>
        <title><%= heading %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/cart.css">
    </head>
    <body>
        <nav class="nav-bar" style="display: inline-flex;">
            <img src="../assets/images/logo.JPG" class="col-1"></img>
            <h1>CART ITEMS</h1>
            <div class="back-to-store">
            <a href="/user/createSession"><button><h6>Back to store</h6></button></a>
        </div>
        </nav>
        <div class="cart-list">
            <%if(cart.length === 1){%>
                <br>
                <br>
                <center><h1>Your cart is empty ☹</h1></center>
            <%}%>
            <%if(cart.length > 1){%>
                <% for (let item = 1; item<=cart.length-1; ++item){ %>
                    <div class="cart-items">
                        <img src="../assets/images/products/<%=cart[item].productImage%>">
                        <h2 class="product-name"><%=cart[item].productName%></h2>
                        <div class="right-div">
                            <a href="/user/remove_from_cart/<%=item%>"><button><h6>Remove</h6></button></a>
                            <h1 class="total">&#x20B9; <%=cart[item].productPrice%></h1>
                        </div>
                    </div>
                <%}%>
            <%}%>
        </div>
        
        <br>
        <br>
        <div class="checkout">
            <div >
                <h2>Total: &#x20B9; <%=cart[0]%></h2>
                <button><h5>Checkout</h5></button>
            </div>
        </div>
        <script>
            const total = 0;
        </script>
        <script src="https://kit.fontawesome.com/91b25f8033.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
