<!DOCTYPE html>
<html>
    <head>
        <title><%= heading %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../assets/css/search_results.css">
    </head>
    <body>
        <% for(let i of searchResult){%>
                <div class="product_name"><h1><%=i.productName%></h1></div>
                <div class="left-side">
                    <div class="img-div">
                        <center>
                            <img src="../assets/images/products/<%=i.imageName%>" alt="image">
                        </center>
                    </div>
                    <div class="product_details">
                            <div class="price">₹ <%=i.price %></div>
                            <br>
                            <div class="rating">⭐<%= i.productRating%>/5 </div>
                            <br>
                            <div class="stock"><%=i.qtyAvailable%> items in stock</div>
                    </div>
                    <a href="/user/buyNow"><button class="buyNow"><b> <h2>Buy Now</h2></b></button></a>
                </div>
                <div class="right-side">
                    <h1 style="margin-left: 10px;">Specification</h1>
                </div>
        <%}%>
    </body>
</html>