<!DOCTYPE html>
<html>
    <head>
        <title><%= heading %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: azure;
                background:url("../assets/images/background.png") ;
                background-size: cover;
                background-attachment:fixed;               
            }
            .nav-bar{
                position: relative;
                top:20px;
                height: 70px;
                width: 98vw;
                border-radius: 11px;
                border: 5px solid whitesmoke; 
                margin: auto;
                /* border-top: 5px solid whitesmoke;   
                border-right: 5px solid whitesmoke;              */
            }
            .nav-bar img{
                height: 100%;
                width: 210px;
                border-radius: 10px;
            }
            .nav-bar a{
                position: relative;
                float: right;
                height: 100%;
                width: fit-content;
                margin: 5px;
                /* vertical-align: middle;
                text-align: center; */
            }
            .sign_out{
                color: whitesmoke;
                transition: .3s ease-in-out;
            }
            .sign_out:hover{
                color: black;
            }
            .cart-count{
                position: relative;
                right: 15px;
                top:-5px;
                float: right;
                height: 22px;
                width: 22px;
                display: inline-flex;
                justify-content: center;
                align-items: center;    
                border-radius: 50%;
                background-color: black;
                color: white;
                text-decoration: none;
                z-index: 2;
            }
            .search_box{
                position: relative;
                top:2px;
                margin-left: 15%;
                width: 30%;
                height:70%;
                padding-left: 5px;
                border-radius:  10px 0px 0px 10px;
                border: none;
                outline: none;
            }

            .searchButton{
                position: relative;
                top:2px;
                height:70%;
                border: none;
                margin-left: -4px;
                border-radius:  0px 10px 10px 0px;
            }
            .searchButton:hover{
                box-shadow: #B5FFFC 0px 0px 3px 3px;
            }
            .search_box:hover{
                box-shadow: #B5FFFC 0px 0px 3px 3px;
            }
            .innerDiv{
                /* position: relative;
                top:50px; */
                
                margin: auto;
                margin-top: 50px;
                padding: 2%;
                height:100vh;
                width:95vw;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
                overflow-y: scroll;
                box-shadow: #11141c 0px 0px 17px 1px;
                
            }
            .innerDiv ul{
                margin-top: 3%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .product_details{
                position: relative;
                height: auto !important;
                padding: 1px;
                width: auto;
                font-family:monospace ;
                /* border: 2px solid blue; */
                list-style-type:none;
                margin: auto;
                margin-bottom: 15px;
                border-radius: 10px;
                transition: all .2s;
                background-color: #FFDEE9;
                background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
                -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
                filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));

            }
            .product_details img{
                height: 200px;
                width: 200px;
                background-size:auto;
                margin-left: -30px;
            }
            .product_details:hover{
                transform: scale(1.05);
                ul h4{
                    text-decoration:underline;
                    transition: all .5s ease-in-out;
                }
            }
            .product_details li{
                list-style-type:none;
                margin-left: -20px;
                font-size: large;
            }
            .buy-now-and-add-cart{
                width: 100%;
                height: 50px;
                font-size:larger;
                border: none;
                border-top: 2px solid black;    
                padding: 10px;
                overflow: hidden;
            }
            .cart-and-signout{
                display: inline-flex;
                float: right;
                justify-content: center;
                align-items: center;
            }
            .add-to-cart{
                background-color: lightblue;
            }
            .buy-now{
                background-color: #FBAB7E;
                border-radius: 0px 0px 10px 10px;
            }
            .buy-now-and-add-cart h4{
                transition: all .3s ease-in-out;
                transform: translateX(300px);
            }
            .buy-now-and-add-cart i{
                margin: auto;
                text-align: center;
                transform: translateX(50px);
                transition: all .3s ease-in-out;
                /* padding: 10px; */
            }
            .buy-now-and-add-cart:hover{
                h4{
                    transform:translateX(0px);
                }
                i{
                    transform: translateX(0px);
                }
            }
            .add-to-cart i{
                margin: auto;
                text-align: center;
                transform: translateX(75px);
                transition: all .3s ease-in-out;
            }
            .product_details a{
                cursor: pointer;
            }
            .product_name{
                margin-bottom: 10px;
                text-shadow: 1px 1px greenyellow;
            }

            .back-to-top{
                width:100%;
                height: 50px;
                border: none;
                border-radius: 10px 10px 0px 0px;
                font-family: monospace;
            }
            .back-to-top:hover{
                scale: 1.02;
            }
            .footer-div{
                margin-top: 10px;
                margin: auto;
                height: auto;
                width: 100%;
                border-radius:10px 10px 0px 0px;
                background-color: #11141c;
                background-image: url("../images/foooter-bg.png");
                background-size: cover;
                color: aliceblue;
                overflow: hidden;
            }
            .info-divs{
                display: flex;
                flex-direction: row;
                justify-content: space-between;                                                                                                                                                ;
            }
            .info-div{
                width: 100%;
                margin-top: 30px;
                margin-left: 50px;

            }
            .desc{
                text-align: justify;
            }
            .copyright{
                text-align: center;
                position: relative;
                bottom: 20px;
                
            }
            .follow-us{
                list-style-type:none;
            }
            .follow-us li{
                margin-right: 10px;
            }
            .follow-us a{
                color: inherit;
            }
            .search_results{
                position: absolute;
                top: 80px;
                left: 32%;
                width: 29%;
                background-color: white;
                border-radius: 5px;
                z-index: 2;
                max-height: 200px;
                overflow-x: auto;
            }
            .search_results p{
                margin-left: 20px;
            }
            .search_results button{
                padding-top: 5px;
                padding-bottom: 5px;

            }
            @media screen and (min-width:700px){
                .product_details{
                    width: 290px;
                    height: 100%;
                }
            }
            @media screen and (max-width:900px){
                .search_box{
                    margin-left: 20px;
                    width: 25%;
                }
            }
            @media screen and (max-width:700px){
                .product_details{
                    width: 100%;
                    height: 100%;
                }
                .nav-bar img{
                    height: 65px;
                    display: block;
                    margin-top: 3px;
                    margin-left: 3px;
                }
                .nav-bar{
                    height: auto;
                }
                .search_box{
                    position: relative;
                    top:0;
                    height: 40px;
                    width: 70%;
                    margin: auto;
                    margin-top: 10px;
                    margin-left: 3px;
                    margin-bottom: 3px;
                }
                .searchButton{
                    position: relative;
                    top:-1px;
                    left: -3px;
                    height: 40px;
                    width: 29%;
                    margin-bottom: 3px;
                }    
                .info-divs{
                    text-align: center;
                    margin-left:-40px ;
                }
                .cart-and-signout{
                    margin-top: -120px;
                }
                .search_results{
                    position: absolute;
                    margin-top:80px;
                    margin-left: -120px;
                    width: 70%;
                }
                .buy-now-and-add-cart{
                    h4{
                        transform:translateX(0px);
                    }
                    i{
                        transform: translateX(0px);
                    }
                }
            }
            ::-webkit-scrollbar{
                display: none;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="nav-bar">
                <img src="../assets/images/logo.jpg" class="col-1"></img>
                <!-- form tag for search products -->
                <form action="/user/detailed_view" method="POST" style="display: inline;" class="col-1">
                    <input type="search" onkeyup="sendData(this)" name="product_name" class="search_box" placeholder="Hello <%=user_name%>, Loot name?ðŸ§">
                    <button class="searchButton" type="submit">Let's findðŸ˜‹</button> 
                </form>
                
                <div class="cart-and-signout">
                    <span style="margin-top:5px;">
                        <div class="cart-count">
                            <%if(cart.length===1){%>
                                0
                            <%}%>
                            <%if(cart.length>1){%>
                                <%=cart.length-1%>
                            <%}%>
                        </div>
                        <a href="/user/open_cart">
                            <i class="fa-solid fa-2x fa-cart-shopping" style="color: yellow;"></i>
                        </a>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <a href="/admin/signOut" class="col-1"><i class="fa-solid fa-3x fa-right-from-bracket sign_out"></i></a>
                </div>
                
            </div>
            <section class="search_results">
            </section>
            <div class="innerDiv xs-grid">
                <!-- Every existing products from the sakthi store DB is rendered here -->
                <%if(products){%>
                    <% for(let product of products){%>
                        <div class="product_details">
                        <form action="/user/detailed_view" method="post">
                            <input type="hidden" name="product_name" value="<%=product.productName%>">
                            <div>
                                <ul>
                                    <li class="product_name"><h4><%=product.productName %></h4></li>
                                    <center>
                                        <button style="background: none; border: none;">
                                        <img src="../assets/images/products/<%=product.imageName%>" alt="image" role="button">
                                    </button>
                                    </center>
                                    <br>
                                    <li><b>Price : </b> Rs.<%=product.price %></li>
                                    <li><b>Rating : </b> <%= product.productRating%>/5</li>
                                    <li><b>In Stock : </b><%= product.qtyAvailable%> Qty</li>
                                </ul>
                                <div>
                                    <a href="/user/add_to_cart/?prod_image=<%=product.imageName%>&prod_name=<%=product.productName%>&prod_price=<%=product.price%>">
                                    <button type="button" class="add-to-cart buy-now-and-add-cart">
                                        <b>
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            <h4 class="d-inline-flex">ADD TO CART<h4>    
                                        </b>
                                    </button>
                                    </a>
                                    <a href="/user/buyNow"><button type="button" class="buy-now buy-now-and-add-cart"><b> <i class="fa-solid fa-bolt"></i> <h4 class="d-inline-flex">BUY NOW<h4></b></button></a>
                                </div>
                            </div>
                         </form>
                        </div>
                    <%}%>    
                <%}%>
            </div>
            <br><br>
            <div class="footer-div">
                <button class="back-to-top" onclick="scrollToTop()">Back to top</button>
                <div class="info-divs">
                    <div class="desc info-div">
                        <h2>Sakthi Stores</h2>
                        <p>An ecommerce business uses digital methods to sell products and services to customers. Ecommerce businesses can be online-only or have a physical presence as well. Selling to customers online typically requires a website or digital storefront, plus a way to process payments digitally and ship orders to customers.</p>
                    </div>
                    <div class="info-div"> 
                        <h2>Address</h2>
                        <p>Oodaimedu,<br>
                        Mountain road,<br>
                        Oodaimedu 4 cross road,<br>
                        Anthiyur,<br>
                        Erode.<br>
                        PIN - 638 501</p>
                    </div>
                    <div style="margin-left: 30px;" class="info-div">
                        <h2>About Us</h2>
                        <p>
                            <b>Founder:</b> K Sakthivel<br>
                            <b>CEO:</b> K Sakthivel<br>
                            <b>Products Admin:</b> K Sakthivel<br>
                            <b>Website Designer:</b> K Sakthivel<br>
                            <b>Seller:</b> K Sakthivel<br>
                            <b>Logistics:</b> K Sakthivel<br>
                            <b>Customer:</b>  K Sakthivel<br>
                        </p>
                    </div>

                </div>
                <div style="text-align: center;" >
                    <ul style="display: inline-flex;" class="follow-us">
                        <li><a href="https://www.facebook.com/KLSakthi.333" target="_blank"><i class="fa-brands fa-2x fa-facebook"></a></i></li>
                        <li><a href="https://www.instagram.com/haha_sakthi_ks333" target="_blank"><i class="fa-brands fa-2x fa-square-instagram"></i></a></li>
                        <li><a href="https://twitter.com/klsakthi333" target="_blank"><i class="fa-brands fa-2x fa-square-x-twitter twitter"></i></a></li>
                        <li><a href="https://github.com/sakthivel-programmer" target="_blank"><i class="fa-brands fa-2x fa-github"></i></a></li>
                    </ul>
                    <br><br>
                    <p class="copyright">Copyright @ Sakthi Stores 2023 All rights reserved</p>
                </div> 
            </div>
        </div>
        
        
        <script>
            function scrollToTop(){
                document.body.scrollTop=0;
                document.documentElement.scrollTop=0;
            }
            // Function to get realtime search results from database and AJAX call
            function sendData(e){
                let searchResults = document.querySelector(".search_results")
                let match=e.value.match(/^[a-zA-Z ]*/);
                let match2=e.value.match(/\s*/);
                if(match2[0]===e.value){
                    searchResults.innerHTML="";
                    return;
                };
                if (match[0] === e.value){
                    fetch("searching",{
                        method:"POST",
                        headers:{'Content-Type':'application/json'},
                        body:JSON.stringify({payload:e.value})
                    }).then(res=> res.json()).then(data=>{
                        let payload = data.payload;
                        searchResults.innerHTML="";
                    if(payload.length < 1 ) {
                        searchResults.innerHTML="<p> No results found</p>";
                        return;
                    }
                    payload.forEach((item,index) => {
                        searchResults.innerHTML += `<form action="/user/detailed_view" method="POST">
                                                        <input type="hidden" name="product_name" value="${item.productName}">
                                                        <button style="background: none; border: none;">${item.productName}</button>
                                                    </form>`
                    }); 
                });
                return;
                }
                searchResults.innerHTML="";   
            }
        </script>
        <script src="https://kit.fontawesome.com/91b25f8033.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
