<!DOCTYPE html>
<html>
    <head>
        <title><%= heading %></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{
                margin: auto;
                display: flex;
                justify-content: center;
                background-color: azure;
            }
            .nav-bar{
                position: relative;
                top:30px;
                height: auto;
                width: 95vw;
            }
            .nav-bar img{
                width: 120px;
                border-radius: 10px;
            }
            .sign_out{
                position: relative;
                margin-top: 5px;
                float: right;
                height: 40px;
                border: 2px solid lightblue;
                border-radius: 5px;
            }
            .search_box{
                position: relative;
                top:5px;
                margin-left: 10%;
                width: 30%;
                height:40px;
                padding-left: 5px;
                border-radius:  10px 0px 0px 10px;
                outline: none;
            }
            .searchButton{
                position: relative;
                top:4px;
                height:40px;
                border: none;
                margin-left: -4px;
                border-radius:  0px 10px 10px 0px;

            }
            .innerDiv{
                position: relative;
                top:50px;
                padding: 2%;
                height:auto;
                width:95vw;
                margin: auto;
                border: 2px solid black;
                border-radius: 10px;
                display: flex;
                flex-wrap: wrap;
            }
            .innerDiv ul{
                margin-top: 3%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .product_details{
                position: relative;
                height: auto;
                padding: 1px;
                width: auto;
                border: 2px solid blue;
                list-style-type:none;
                margin: auto;
                margin-bottom: 15px;
                border-radius: 10px;
                transition: all .2s;
            }
            .product_details:hover{
                transform: scale(1.05);

            }
            .product_details li{
                list-style-type:none;
                margin-left: -20px;
                font-size: small;
            }
            li button{
                width: 95%;
                background-color: lightblue;
                color: black;
                border-radius: .5rem;
                margin: auto;
                margin-top: 10px;
            }
            .product_details a{
                cursor: pointer;
            }
            .deleteProduct{
                position: absolute;
                right: -10px;
                top:-12px;
                width:1.4rem;
                text-align: center;
                border-radius: 50%;
                background-color: red;
                color: white;
                text-decoration: none;
            }
            .product_name{
                margin-bottom: 10px;
                text-shadow: 1px 1px greenyellow;
            }
            @media screen and (min-width:700px){
                .product_details{
                    width: 290px;
                    height: 100%;
                }
            }
            @media screen and (max-width:700px){
                .product_details{
                    width: 100%;
                    height: 100%;
                }
            }
    
        </style>
    </head>
    <body>
        <div>
            <div class="nav-bar">
                <img src="../assets/images/logo2.png" class="col-1"></img>
                <!-- form tag for search products -->
                <form action="/user/search" method="POST" style="display: inline;" class="col-1">
                    <input type="search" name="searchContent" class="search_box" placeholder="Is someone searching for something?ðŸ§">
                    <button class="searchButton" type="submit">Let's findðŸ˜‹</button> 
                </form>
                <a href="/admin/signOut" class="col-1"><button class="sign_out">Sign Out</button></a>
                
            </div>
            <div class="innerDiv xs-grid">
                <!-- Every existing products from the sakthi store DB is rendered here -->
                <%if(products){%>
                    <% for(let product of products){%>
                    <div class="product_details">
                        <ul>
                            <li class="product_name"><h5><%=product.productName %></h5></li>
                            <li><b>Price : </b> Rs.<%=product.price %></li>
                            <li><b>Rating : </b> <%= product.productRating%>/5</li>
                            <li><b>In Stock : </b><%= product.qtyAvailable%> Qty</li>
                            <li><a href="/user/buyNow"><button><b> Buy Now</b></button></a></li>
                        </ul>
                    </div>
                    <%}%>    
                <%}%>
            </div>
        </div>
        
        <script src="https://kit.fontawesome.com/91b25f8033.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>
